[submodule "third_party/cJSON"]
	path = third_party/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "third_party/arena"]
	path = third_party/arena
	url = https://github.com/tsoding/arena.git
[submodule "third_party/jsoncons"]
	path = third_party/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
